.App {
  background: url('./Components/Home/Gather_honeycombs.png') no-repeat center center fixed;
  background-size:cover;
  text-align: center;
  display:flex;
  flex-direction: column;
height:100vh;

}

input{
  text-align: center;
}