*{
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
  font-family: 'Nunito', sans-serif;
}
.App {
  background: url('./Assets/Gather_honeycombs.png') no-repeat center center fixed;
  background-size:cover;
  text-align: center;
  display:flex;
  flex-direction: column;
min-height:100vh;
width:100vw;
z-index:0
}


input{
  text-align: center;
  background-color: rgb(233, 233, 233);
}

details {
  font: 16px "N", Calibri, sans-serif;
  width: 620px;
}

html {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}
body{
  height:100%;
  font-family: 'Nunito', sans-serif;
}