*{
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  font-family:Nunito, Roboto, sans-serif;
}

input{
  text-align: center;
  font-family:Nunito,Roboto,sans-serif;
  font-weight:300;
  background-color: rgb(233, 233, 233);
}
header{
  font-family:Nunito,Roboto,sans-serif;
  font-weight:300;
  padding:3px;
}
.active{

}
