body {
  font-family:'Nunito Regular', 'Nunito SemiBold', 'Nunito Light', 'Nunito Bold Italic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family:'Nunito Regular', 'Nunito SemiBold', 'Nunito Light', 'Nunito Bold Italic';
}
